<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Technology Help Desk</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>

	<div id="header"><h1>Technology Help Desk</h1></div>
	<div id="wrapper">
		<div class="response-good">
		<p>Thank you, <span style="font-weight: bold">[FMP-FIELD: username]</span></p>
		<p>Your request, number <span style="font-weight: bold">[FMP-FIELD: submitnumber]</span>, has been submitted successfully!</p>
		<p>Your submitted request is copied below for your convenience:</p>
		<p style="padding-left: 30px; padding-right: 30px;"><span style="font-weight: bold">[FMP-FIELD: submitdate]</span> at <span style="font-weight: bold">[FMP-FIELD: submittime]</span></p>
		<p style="font-weight: bold; padding-left: 30px; padding-right: 30px;">[FMP-FIELD: probdesc]</p>
		<p>I'll be out as soon as possible to help fix your problem!  You may <a href="javascript: window.print()">print</a> this page for your records.</p>
		<p>Thanks,<br>Bill Deacon</p>
		</div>
	</div>
	<div id="footer"></div>
	<div class="copyright">&copy;2011, Washington-Nile Local School District</div>

</body>
</html>